<!DOCTYPE html>
<html>
<head>
	<title>To-Do List</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/tdList.css"></head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">
<body>


<div id="container">
	<h1>To-Do List<i class="fa fa-plus"></i></h1>
	<input type="text" placeholder="Add New Todo">

	<ul>
		<li><span><i class="fa fa-trash"></i></span>first</li>
		<li><span><i class="fa fa-trash"></i></span>second</li>
		<li><span><i class="fa fa-trash"></i></span>third</li>
	</ul>
</div>



<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous">
 </script>
<script type="text/javascript" src="/scripts/tdList.js"></script>

</body>
</html>